[submodule "ros_modbus/src/Modbus"]
	path = ros_modbus/src/Modbus
	url = https://github.com/Mazurel/Modbus.git
[submodule "ros_modbus/src/yaml-cpp"]
	path = ros_modbus/src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
